/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.sconsign.dblite
*.o
*.obj
msvc/Release/
msvc/Debug/
*.suo
*.opensdf
*.sdf
*.user
.DS_Store
lib/hitokage/hitokage_ext.bundle
